<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Customer</th>
    <th>Item Leased</th>
  </tr>
  <% for lease in @leases %>
    <tr>
      <td><%= lease.start_date %></td>
      <td><%= lease.end_date %></td>
      <td><%= lease.customer.name %></td>
      <td><%= lease.stock_item.type %></td>
    </tr>

  <% end %>
</table>
