<div class="sidebar">
  <h4><a href="/leases">All Leases</a></h4>
</div>

<h2>Enter Lease Details</h2>

<form class= "vertical-form" action="/leases" method="post">
  <label for="customer">Customer Name</label>
  <select name="customer_id" id="customer">
    <% for customer in @customers %>
    <option <%= 'selected' if @customer_id == customer.id %> value="<%= customer.id%>"><%= customer.first_name%> <%= customer.last_name%></option>
    <%end%>
  </select>

  <label for="duration">Duration (days)</label>
  <input type="number" name="duration" value="7" min="1" required>
  <input type="submit" name="new_lease" value="Add Items to this Lease">
</form>
