<div class="sidebar">
  <h4><a href="/customers">Start new Lease</a></h4>
  <h4><a href="/leases">Back to Top</a></h4>
</div>

<h2>Enter Lease Details</h2>

<form action="/leases" method="post">
  <label for="customer">Customer Name</label>
  <select name="customer_id" id="customer">
    <% for customer in @customers %>
    <option value="<%= customer.id%>"><%= customer.first_name%> <%= customer.last_name%></option>
    <%end%>
  </select>

  <label for="duration">Duration (days)</label>
  <input type="number" name="duration" value="7" min="1">
  <input type="submit" name="new_lease" value="Create New Lease">
</form>
