<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bike Rental</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stock">All Stock</a></li>
        <li><a href="/customers">All Customers</a></li>
        <li><a href="/leases">All Rentals</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
