<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Bikes Bikes Bikes: Bike Rentals</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="icon" href="/images/bicycle.png" />
</head>
<body>
  <nav>
    <ul>
      <li>
        <h2><a href="/">Home</a></h2>
      </li>

      <li>
        <h2><a href="/stock">Stock</a></h2>
        <ul>
          <li><h4><a href="/stock">View Stock</a></h4></li>
          <li><h4><a href="/stock/new">Add an item to Stock</a></h4></li>
          <li><h4><a href="/item-types">View Stock Types</a></h4></li>
        </ul>
      </li>

      <li>
        <h2><a href="/customers">Customers</a></h2>
        <ul>
          <li><h4><a href="/customers">View Customers</a></h4>
          <li><h4><a href="/customers/new">Add a new customer</a></h4>
          </li>
        </ul>
      </li>

      <li>
        <h2><a href="/leases">Leases</a></h2>
        <ul>
          <li><h4><a href="/leases">View Leases</a></h4></li>
          <li><h4><a href="/leases/new">Start new Lease</a></h4></li>
        </ul>
    </li>
    </ul>
  </nav>
  <div class="yield">
    <%= yield %>
  </div>
</body>
</html>
