
body {
  background-color: #F0F2F2;
  font-family: 'Work sans';
  font-size: 1.2em;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display:flex;

}

nav {
  background-color: #FFD723;
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 2px solid #53575B;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;
}

a {
  color: #53575B;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.sidebar a {
  color: white;
}

.yield {
  margin-top: 9em;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px;
}

li {
  display:flex;
  flex-direction: column;
  margin-left: 2em;
  margin-right: 2em;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  opacity: 0;
  transition: all 1s ease;
  left: 0;
  visibility: hidden;
  display:none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover{
  opacity: 1;
  background-color: #FFD723;
  border: 2px solid #53575B;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  visibility: visible;
  padding-left: 0;
}


h1 {
  color: #FB7959;
  text-shadow: 2px 2px #53575B;
}

table, h1, h2, h3, h4, p {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  text-align: center;
}

h1 {
  font-size: 2.5em;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.8em;
}

.vertical-form {
  flex-direction: column;
}

.vertical-form input {
  margin-top: 20px;
}

.vertical-form select {
  margin-top: 20px;
}

.split-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h4 {
  font-size: 1em;
}


td, th {
  padding: 0.4em;
  border-top: 1px solid silver;
}

th {
  margin-bottom: 1em;
  padding: 1em;
  text-decoration: underline;
}

label {
  margin  : 0.4em 0.6em;
}

input, select {
  margin: 0em 0.5em;
  font-size: 1em;
  background-color: #7D8A92;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

input::placeholder {
  color: white;
  font-size: 0.6em;
}

input:focus {
  color: #53575B;
  background-color: #F0F2F2;
  outline-color: white;
}

.overdue {
  background-color: salmon;
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: center ;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 2em;
  width: 15%;
  background-color: #7D8A92;
  border-right: 2px solid black;
  text-align: center;
}


.big-button {
  padding: 0.5em;
}

.namesearch {
  width: 150px;
  text-align: center;
}

br {
  border-bottom:  1px solid silver;
}

.overdue-heading {
  text-decoration: underline;
}

input.reveal {
  display:none;
}

input[type=checkbox] ~ form {
  display:none;
}

input[type=checkbox]:checked ~ form {
  display:flex;
}

label.reveal {
  background-color: #7D8A92;
  color: white;
  padding: 9px 10px;
  border: 1px solid silver;
}

.center {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
