<div class="sidebar">
  <h4><a href="/item-types">All Stock types</a></h4>
  <h4><a href="/item-types/new">Add New Stock Type</a></h4>
  <h4><a href="/stock">All Stock</a></h4>
</div>

<form class="vertical-form" action="/item-types/<%= @type.id %>" method="post">
  <label for="item-name">Type Name</label>
  <input type="text" name="name" id = "item-name" value= "<%= @type.name%>" required>
  <input type="submit" name="Submit" value="Submit Changes">
</form>
