
<table>
  <tr>
    <th colspan="2">Stock Types</th>
    </tr>
    <tr>
    <td colspan="2"><form action="/item-types/new" method="get">
      <input type="submit" name="new-item-type" value="Add New Type">
    </form></td>
  </tr>
  <% for type in @types %>
  <tr>
    <td><%= type.name.capitalize%></td>
    <td><form action="/item-types/<%= type.id %>" method="get">
      <input type="submit" name="item-types-details" value="More Details">
    </form></td>
  </tr>
  <% end %>
</table>
