<div class="sidebar">
  <h4><a href="/item-types">All Stock types</a></h4>
  <h4><a href="/stock">All Stock</a></h4>
</div>

<form action="/item-types" method="post">
  <label for="item-name">Type Name</label>
  <input type="text" name="name" id = "item-name" required>
  <input type="submit" name="create-type" value="Add New Type">
</form>
