<form action="/item-types" method="post">
  <label for="item-name">Type Name</label>
  <input type="text" name="name" id = "item-name">
  <input type="submit" name="create-type" value="Add New Type">
</form>
