<form action="/stock/<%= @stock_item.id%>" method="post">
  <label for="type">Item type</label>
  <input type="text" name="type" id="type" value="<%= @stock_item.type%>">
  <label for="rental-cost">Rental Cost</label>
  <input type="number" name="rental_cost" id="rental-cost" step="0.01" value="<%=@stock_item.rental_cost%>">
  <input type="submit" name="edit-stock-item" value="Save Changes">
</form>
