<table>
  <tr>
    <th>Type</th>
    <th>Rental Cost</th>
  </tr>
  <% for item in @stock_items %>
    <tr>
      <td><%= item.type %></td>
      <td><%= item.rental_cost %></td>
    </tr>

  <% end %>
</table>
