<div class="sidebar">
  <h4><a href="/stock/new">Add an item to Stock</a></h4>
  <h4><a href="/item-types">View Stock types</a></h4>
  <h4><a href="/stock">Back to Top</a></h4>
</div>

<h2>Enter Item Details</h2>

<form class= "vertical-form" action="/stock" method="post">
  <label for="type">Item type</label>
  <select name="type_id">
    <% for type in @types %>
    <option value="<%= type.id%>"><%= type.name.capitalize %></option>
    <% end %>
  </select>
  <label for="rental-cost">Rental Cost</label>
  <input type="number" name="rental_cost" id="rental-cost" step="0.01" min = "0.01">
  <input type="submit" name="create-stock-item" value="Add Item to Stock">
</form>
