<h2>Enter Item Details</h2>

<form action="/stock" method="post">
  <label for="type">Item type</label>
  <input type="text" name="type" id="type">
  <label for="rental-cost">Rental Cost</label>
  <input type="number" name="rental_cost" id="rental-cost" step="0.01">
  <input type="submit" name="create-stock-item" value="Add Item to Stock">
</form>
