<table>
  <tr>
    <th>Item ID</th>
    <td><%=@stock_item.id%></td>
  </tr>
  <tr>
    <th>Item Type</th>
    <td><%= @stock_item.type%></td>
  </tr>
  <tr>
    <th>Rental Cost</th>
    <td><%= @stock_item.rental_cost%></td>
  </tr>
</table>
