<table>
  <tr>
    <th>Name</th>
    <th>Contact Number</th>
    <th>Age</th>
  </tr>
  <% for customer in @customers %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.contact_number %></td>
      <td><%= customer.age %></td>
    </tr>

  <% end %>
</table>
