<h4><a href="/customers/new">Add a new customer</a></h4>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.name %></td>
    <td><form action="/customers/<%=customer.id%>" method="get">
      <input type="submit" name="show" value="More Details">
    </form></td>
  </tr>

  <% end %>
</table>
