
<div class="sidebar">
  <h4><a href="/customers/new">Add a new customer</a></h4>
  <h4><a href="/customers">Back to Top</a></h4>
</div>

<form action="/customers/search" method="post">
  <input class = "namesearch" type="text" name="name" id='name' >
  <input type="submit" name="search" value="Search for customer">
</form>
<table>
  <% for customer in @customers %>
  <tr>
    <td><%= customer.first_name %> <%=customer.last_name%></td>
    <td><form action="/customers/<%=customer.id%>" method="get">
      <input type="submit" name="show" value="More Details">
    </form></td>
    <td><form action="/leases" method="post">

    </form></td>
  </tr>

  <% end %>
</table>
