<h2>Enter Customer Details</h2>

<form action="/customers" method="post">
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name">
  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name">
  <label for="contact-number">Contact Number</label>
  <input type="tel" name="contact_number" id="contact-number">
  <label for="age">Age</label>
  <input type="number" name="age" id="age">
  <input type="submit" name="new-customer" value="Create Customer">
</form>
