<table>
  <tr>
    <th>Name</th>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <th>Contact</th>
    <td><%= @customer.contact_number %></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><%= @customer.age%></td>
  </tr>
</table>
